#balsam {
    content: "Balsam Fir Image";
    border: 3px solid darkred;
}

#meyers {
    content: "Meyer Spruce Image";
}

#shearing {
    content: "Shearing Video";
    border: 3px solid darkred;

}

.foot_data {
    text-align: center;
}

@media (max-width: 750px) {
    main {
        flex-direction: column;
    }

    #side_bar {
        order: 2;
        margin-top: 10px;
        align-self: center;
        text-align: center;
        padding-left: 100%;
        padding-right: 100%;
    }
}

.item {
    margin-bottom: 10px;
    text-indent: 25px;
    font-size: 16px;
    line-height: 1.5;
    color: darkred;
}