body {
    font-family: "Segoe UI", serif;
    margin: 0;
    padding: 0;
    top: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    color: white;
    background-image: url('white-pine.JPG');
    background-size: cover;
    background-position: center;
    background-position-y: 40%;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 1);
}

footer {
    text-align: center;
}

main {
    display: flex;
}

h1, h2 {
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
}

h1 {
    animation: slide-in 3s ease;
}

p {
    margin-bottom: 10px;
    text-indent: 25px;
    font-size: 16px;
    line-height: 1.5;
    color: darkred;
}

a {
    color: darkred;
}

img, video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 3px solid darkgreen;
    border-radius: 5px;
}

li, dl, table {
    font-size: 16px;
    color: darkred;

}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

button {
    height: 40px;
    width: 66px;
    border: 1px solid grey;
    border-radius: 10px;
    margin-left: -1px;
    margin-right: 10px;
}

a:hover, button:hover {
    opacity: 0.8;
    transition: 0.15s;
    cursor: pointer;
}

textarea {
    width: 98%;
}

legend {
    font-weight: bold;
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

#side_bar {
    min-width: 250px;
    max-width: 250px;
    word-wrap: break-word;
    background-color: rgb(193, 193, 193);
    padding: 10px;
}

#content {
    background-color: rgb(248, 248, 248);
    padding: 10px;
    flex: 1;
}

#balsam {
    content: "Balsam Fir Image";
    border: 3px solid darkred;
}

#meyers {
    content: "Meyer Spruce Image";
}

#shearing {
    content: "Shearing Video";
    border: 3px solid darkred;

}

.foot_data {
    text-align: center;
}

@media (max-width: 750px) {
    main {
        flex-direction: column;
    }

    #side_bar {
        order: 2;
        margin-top: 10px;
        align-self: center;
        text-align: center;
        padding-left: 100%;
        padding-right: 100%;
    }
}
